typing==3.5
fastapi
uvicorn==0.14.0
starlette==0.14.0
python-multipart
sqlalchemy==1.4.20
psycopg2==2.9.1
databases
python-dotenv==0.18.0
python-jose==3.3.0
passlib==1.7.4
pydantic[email]
bcrypt==3.2.0
alembic